.slide-fade-enter-active {
  transition: all .5s ease;
  opacity: 1;
}

.slide-fade-leave-active {
  transition: all .5s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  position: absolute;
  opacity: 0;
}
